<html>
<body>
    <h1>Sandwich Home</h1>
    <h3>Ingredients</h3>

    <ul>
        {% for ingredient in ingredients %}
        <li>
        <a href="/sandwich/ingredients/{{ingredient}}"> {{ ingredient }}</a> 
        </li>
        {%  endfor %}
    </ul>
        
    <p>Let's eat! Click below to create your own sandwich</p>
    <button><a href="sandwich/sample">Make a Sandwich</a></button>

    <!-- <button type="button"> Make a Sandwich </button> -->

    <p>Click below to see the entire menu</p>
    <button><a href="sandwich/menu">Entire Menu</button>
</body>
</html>